.messagefooter {
    position: fixed;
    left: 16px;
    bottom: 80px;
    text-align: left;
    background: rgba(85, 84, 84, 0.7);
    padding: 8px 24px;
    border-radius: 32px;
    opacity: .95;
    backdrop-filter: blur(8px);
}

.messagefooter span {
    font-size: 14px;
    color: #09f;
    opacity: .8;
}

.messagefooter h4,
.messagefooter h5 {
    margin: 0;
    display: flex;
}